@import "../font-awesome/sass/font-awesome";

.memoHR {
  &-actions-insert {
    width: 1.4em;
    @extend .fa;
    @extend .fa-plus;
  }
}

.memoBox {
  &-memo {
    margin: 1.6em 1em;
  }
}

.memoActionBox {
  &-top, &-bottom {
    > * {
      @extend .fa;
      @extend .fa-fw;
      border: 1px solid light-gray;
    }
  }
  &-actions {
    &-up     { @extend .fa-chevron-up; }
    &-down   { @extend .fa-chevron-down; }
    &-edit   { @extend .fa-pencil-square-o; }
    &-delete { @extend .fa-times; }
  }
}
