$font-headline: 'Sofia Pro', 'Avenir', Helvetica, Geneva, sans-serif;
$font-body: 'Minion Pro', Georgia, Times, serif;
$font-monospace: 'Menlo', Monaco, monospace;

$font-size-base: 17px;
$font-size-body: 1rem;

$color-text:       #000;
$color-background: #efefef;
