@import "variables";

html {
  font-size:   $font-size-base;
  color:       $color-text;
  font-family: $font-body;
  line-height: 1.3;
}

body {
  font-size:  $font-size-body;
  background-color: $color-background;
}
