@import "compass/css3";
@import "variables";

.Site {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
}

.Container {
  max-width: 50em;
  min-width: 19em;
  margin: 0 auto;
}

.pageContainer {
  margin: 0 auto;
  max-width: $box-base-size;
}

.l-grid {
  @include display-flex;
  @include justify-content(space-around);
  @include align-items(stretch);

  &-flex-1 {
    @include flex(1);
  }

  &--column {
    @include flex-direction(column);
  }

  &--box {
    @include align-items(center);
  }
}
