@import "variables";

.Site {
  dispaly: flex;
  flex-direction: column;
  height: 100%;
}

.Container {
  max-width: 50em;
  margin: 0 auto;
}

.pageContainer {
  margin: 0 auto;
  max-width: $box-base-size;
}

.l-grid {
  display:   flex;

  justify-content: space-around;
  align-items: stretch;

  &-flex-1 {
    flex: 1;
  }

  &--column {
    flex-direction:  column;
  }

  &--box {
    align-items: center;
  }
}
