@import "compass/css3";
@import 'variables';

.memoHR {
  &-actions-insert {
    width: 1.4em;
    color: $color-strong;
    text-decoration: none;
    margin: -6px;
    &:after { font-size: 22px; content: "\002B"; }
  }
  &-hr {
    border: 1px solid $color-very-light;
    @include align-self(flex-end);
  }
}

.memoBox {
  &-memo {
    margin: 1.6em 1em;
  }
}

.memoActionBox {
  &-top, &-bottom {
    & button {
      color: $color-strong;
      text-decoration: none;
    }
  }
  &-actions {
    &-up:after {
      font-size: 12px;
      content: "\25B2";
    }
    &-down:after {
      font-size: 12px;
      content: "\25BC";
    }
    &-edit {
      text-decoration: none;
      padding: 4px;
      color: $color-strong;
      &:after { content: "\270F"; }
    }
    &-delete:after {
      font-size: 14px;
      content: "\00D7";
    }
  }
}

.memoWriteBox {
  & > form {
    width: 80%;
    & textarea {
      font-size: $font-size-textarea-input;
      width: 97%;
      height: 8em;
    }
  }
}

.memoPreviewBoxContainer {
  max-width: $box-base-size;
  margin: 0 auto;
}

.memoPreviewBox {
  margin: 0 20px 20px;
  @include justify-content(flex-start);
  > div {
    @include justify-content(center);
    font-size: .9rem;
    max-width: 575px;
    margin: 0 4px;
    line-height: 1.53;
  }
}
