@import "variables";

html {
  font-size:   $font-size-base;
  color:       $color-text;
  font-family: $font-body;
  line-height: 1.53;
}

body {
  font-size:  $font-size-body;
  background-color: $color-background;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
