$font-body: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, sans-serif;
$font-headline: $font-body;
$font-monospace: 'Menlo', Monaco, monospace;

$font-size-base: 17px;
$font-size-body: 1rem;
$font-size-textarea-input: 0.9rem;
$font-size-textfield-input: 1.2rem;

$box-base-size: 600px;

$color-text:       #6e6e6e;
$color-background: #fff;
